# Ignore les dossiers de cache Python
__pycache__/
*.pyc

# Ignore ton environnement virtuel 
env/
venv/
.env

# Ignore les données générées 
data/*.csv
*.csv

# Ignore les fichiers systèmes Mac/Windows
.DS_Store
Thumbs.db
